.container{
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300рх;
    border: 2px solid rgb(35, 152, 214);
    padding: 30px;
    border-radius: 10px;
                              
}